h4 {
	padding: 20px 25px;
}

h3 {
	padding: 20px 25px;
}

h2 {
	padding: 20px 25px;
}

h1 {
	padding: 20px 25px;
}

.row {
	padding: 20px 25px;
}

.col-wrapper {
	width: 960px;
	margin: 0 auto;
}

.col {
	margin: 0 10px;
	float: left;
	display: inline;
}

.col-670 {
	width: 670px;
}

.col-250 {
	width: 250px;
}

#container {
	width: 990px;
	/* Ширина макета */
	margin: auto;
	/* Выравнивание по центру */
	;
}

#nav {
	width: 300px;
	/* Ширина левой колонки */
	float: left;
}

#aside {
	width: 300px;
	/* Ширина правой колонки */
	float: right;
}

#content {
	margin: 50px 150px;
	/* Отступ на ширину левой и правой колонки*/
	;
}

.block1 {
	height: 1100px;
	width: 350px;
	background: #0B243B;
	padding: 10px;
	padding-right: 10px;
	border: solid 1px black;
	float: left;
}

header {
	width: 100%;
	background: #848484;
	height: 100px;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

h4 {
	color: #0B243B;
}

body {
	background: #C0C0C0 url("");
	/* Цвет фона и путь к файлу */
	background-size: cover;
	color: #fff;
	/* Цвет текста */
	;
}